:root {
    --red: #d03b40;
    --beige: #ded6c0;    
    --grey: #241d1b;
    --clear: #f5f0ed;

    --mainFont: 'Open Sans', sans-serif;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
}

*, *:before, *:after {
    box-sizing: inherit;
}

/* Estilos globales */
body {
    font-family: var(--mainFont);
    font-size: 1.6rem;
    line-height: 1.5;
}

h1 {
    font-size: 4.4rem;
    text-transform: uppercase;
    margin: 0 auto;
    color: var(--clear);
    width: 40rem;
}

h2 {
    font-size: 2.8rem;
}

h3 {
    font-size: 2.4rem;
}

h1, h2 {
    text-align: center;
}

a {
    text-decoration: none;
    color: var(--clear);
}

p {
    text-align: center;
}

img {
    max-width: 100%;
}

/* Utilidades */
.redBackground {
    background-color: var(--red);
    color: var(--beige);
}

.beigeBackground {
    background-color: var(--beige);
    color: var(--red);
}

.separator {
    color: var(--clear);
    font-weight: bolder;
    margin-top: 0;
}

.button {
    color: var(--clear);
    text-transform: uppercase;
    font-size: 1.4rem;
    border: var(--clear) solid 0.3rem;
    margin-top: 5rem;
    margin-left: auto;
    margin-right: auto;
    padding: 1rem 2rem;
}

/* Header */
.header {
    background-image: url("../img/Fondo1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 66.3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header__bar {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 3rem 5rem;
}

.header__navigation {
    text-transform: uppercase;
    font-weight: bolder;
    margin-right: 2rem;
}

.header__navigation:last-of-type {
    margin-right: 0rem;
}

.header__section {
    margin: auto;
}

.header_paragraph {
    color: var(--clear);
    width: 52rem;
}

/* Sección principal */
.container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.container__section {
    height: 40rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.container__section h2 {
    text-transform: uppercase;
    width: 40rem;
    margin: 0 auto;
    line-height: 1;
}

.container__section p {
    width: 45rem;
    margin: 0 auto;
    margin-top: 3rem;
}

.centralContainer {
    background-image: url("../img/Fondo2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 54.9rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.centralContainer h2,
.centralContainer__paragraph {
    color: var(--clear);
}

.centralContainer h2 {
    text-transform: uppercase;    
    margin-bottom: 0;
}

.centralContainer__paragraph {
    width: 52rem;
    margin-top: 2rem;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 0;
}

.container__grid {
    display: grid;
    grid-template-columns: 30% 70%;
    align-items: center;
    padding: 4rem 2rem;
}

.container__grid section {
    margin-left: 2rem;
}

.container__grid h3 {
    text-transform: uppercase;
    margin-bottom: 0;    
}

.container__grid p {
    text-align: left;
    margin-top: 0;
}

/* Footer */
.footer {
    background-color: var(--grey);    
}

.footer p {
    margin: 0;
    padding: 4rem 2rem;
    color: var(--clear);
    text-align: left;
}