:root {
    --red: #d03b40;
    --beige: #ded6c0;    
    --grey: #241d1b;
    --clear: #f5f0ed;

    --mainFont: 'Open Sans', sans-serif;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
}

*, *:before, *:after {
    box-sizing: inherit;
}

/* Estilos globales */
body {
    font-family: var(--mainFont);
    font-size: 1.6rem;
    line-height: 1.5;
}

h1 {
    font-size: 4.4rem;
    text-transform: uppercase;    
    color: var(--clear);    
}

h2 {
    font-size: 2.8rem;
}

h3 {
    font-size: 2.4rem;
}

h1, h2 {
    text-align: center;
}

a {
    text-decoration: none;
    color: var(--clear);
}

p {
    text-align: center;
}

img {
    max-width: 100%;
}

/* Utilidades */
.redBackground {
    background-color: var(--red);
    color: var(--beige);
}

.beigeBackground {
    background-color: var(--beige);
    color: var(--red);
}

.separator {
    color: var(--clear);
    font-weight: bolder;
    margin-top: 0;
}

.button {
    color: var(--clear);
    text-transform: uppercase;
    font-size: 1.4rem;
    border: var(--clear) solid 0.3rem;
    margin-top: 5rem;
    margin-left: auto;
    margin-right: auto;
    padding: 1rem 2rem;
}

/* Header */
.header {
    background-image: url("../img/Fondo1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 66.3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header__bar {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 3rem 2rem;
}

.header__section {
    margin: auto;
    padding: 0 1rem;
}

.header__paragraph {
    color: var(--clear);
}

@media (min-width: 769px) {
    .header__section h1 {
        width: 40rem;
        margin: 0 auto;
    }

    .header__paragraph {
        width: 52rem;
    }
}

/* Botón de menú */
.header__menu {
    position: relative;
}

.header__button {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1.2rem 0.6rem;
    width: 5.5rem;
    height: 5rem;
    background-color: var(--red);
}

.header__button span {
    width: 100%;
    height: 0.4rem;
    border-radius: 0.5rem;
    background-color: var(--clear);
}

.header__menu:hover .header__navigation {
    display: block;
}

.header__navigation {
    position: absolute;
    right: 0;
    background-color: var(--beige);
    min-width: 16rem;
    display: none;
}

.header__options {
    color: var(--red);
    text-transform: uppercase;
    font-weight: bolder;
    padding: 1rem;
    display: block;
}

.header__options:hover {
    color: var(--beige);
    background-color: var(--red);
}

@media (min-width: 769px) {
    .header__button {
        display: none;
    }
    
    .header__navigation {
        position: relative;
        display: unset;
        background-color: transparent;        
    }

    .header__options {
        display: inline;
        color: var(--clear);
        padding: 0;
        margin-right: 1rem;
    }

    .header__options:last-of-type {
        margin-right: 0;
    }

    .header__options:hover {
        background-color: transparent;
        color: var(--clear);
    }
}

/* Sección principal */
.container__section {
    height: 40rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 2rem;
}

@media (min-width: 769px) {
    .container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .container__section h2 {
        text-transform: uppercase;
        width: 40rem;
        margin: 0 auto;
        line-height: 1;
    }

    .container__section p {
        width: 45rem;
        margin: 0 auto;
        margin-top: 3rem;
    }
}

.centralContainer {
    background-image: url("../img/Fondo2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 54.9rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 2rem;
}

.centralContainer h2,
.centralContainer__paragraph {
    color: var(--clear);
}

.centralContainer h2 {
    text-transform: uppercase;    
    margin-bottom: 0;
}

@media (min-width: 769px) {
    .centralContainer__paragraph {
        width: 52rem;
        margin-top: 2rem;
        margin-right: auto;
        margin-left: auto;
        margin-bottom: 0;
    }
}

.container__grid {
    display: grid;
    grid-template-columns: 30% 70%;
    align-items: center;
    padding: 4rem 2rem;
}

.container__grid section {
    margin-left: 2rem;
}

.container__grid h3 {
    text-transform: uppercase;
    margin-bottom: 0;    
}

.container__grid p {
    text-align: left;
    margin-top: 0;
}

/* Footer */
.footer {
    background-color: var(--grey);    
}

.footer p {
    margin: 0;
    padding: 4rem 2rem;
    color: var(--clear);
    text-align: left;
}